// Colors
$text-color-main : #021b41; // Fonts
$main-text-size : 1.1rem;
$bg-color-1: #e1e1e1;
$text-color-1:#4c4c4c;
$text-color-2:#292929;
$border-color-1:#c9c9c9;
$card-text-color: #2a78cd;

// Images
// $bg-image: url("https://unsplash.com/photos/nXOB-wh4Oyc");